.transfer_res{
  outline: 3px #3a3a3a dashed;
}
.res_apply_btn{
  width: 94%
}
.res_apply_btn img{
  width: inherit;
}
.popover{
  max-width: 350px;
}
.tab-content {
  overflow: hidden;
}
.tile-group {
  margin: 0;
  /*margin-right: 80px;*/
  /*float: left;*/
  /*width: auto;
  height: auto;*/
  /*min-height: 1px;*/
  /*width: 802px;*/
}
.tile {
  display: block;
  float: left;
  background-color: #525252;
  /*width: 150px;*/
  height: 130px;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px #FFFFCC;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  /*font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;*/
  /*font-weight: 300;*/
  /*font-size: 11pt;*/
  /*letter-spacing: 0.02em;*/
  line-height: 20px;
  /*font-smooth: always;*/
  margin: 0 10px 10px 0;
  border-radius:4px;
}
.selected {
  border: 4px #2d89ef solid;
}
.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #2d89ef;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: ".";
  top: 0;
  z-index: 1001;
}
.selected:before {
  position: absolute;
  content: "\e08a";
  color: #fff;
  right: 4px;
  font-family: iconFont;
  z-index: 1002;
}
.tile * {
  color: #ffffff;
}
.tile .tile-content {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 30px;
  vertical-align: top;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  /*font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;*/
  font-weight: 400;
  font-size: 9pt;
  /*font-smooth: always;*/
  color: #000000;
  color: #ffffff;
  line-height: 16px;
}
.tile .tile-content:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tile .tile-content:active {
  color: rgba(0, 0, 0, 0.4);
}
.tile .tile-content:hover {
  color: #ffffff;
}
.tile .tile-content h1,
.tile .tile-content h2,
.tile .tile-content h3,
.tile .tile-content h4,
.tile .tile-content h5,
.tile .tile-content h6,
.tile .tile-content p {
  padding: 0;
  margin: 0;
  line-height: 24px;
}
.tile .tile-content h1:hover,
.tile .tile-content h2:hover,
.tile .tile-content h3:hover,
.tile .tile-content h4:hover,
.tile .tile-content h5:hover,
.tile .tile-content h6:hover,
.tile .tile-content p:hover {
  color: #ffffff;
}
.tile .tile-content p {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  color: #000000;
  color: #ffffff;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tile .tile-content p:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tile .tile-content p:active {
  color: rgba(0, 0, 0, 0.4);
}
.tile .tile-content p:hover {
  color: #ffffff;
}
.tile.icon  > .tile-content {
  padding: 0;
}
.tile.icon  > .tile-content  > img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;*/
}
.tile.icon  > .tile-content  > i {
  font-size: 128px;
  margin: 9px;
}
.tile.image  > .tile-content,
.tile.image-slider  > .tile-content {
  padding: 0;
}
.tile.image  > .tile-content  > img,
.tile.image-slider  > .tile-content  > img {
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 100%;
}
.tile.image-set  > .tile-content {
  margin: 0;
  padding: 0;
  width: 25% !important;
  height: 50%;
  float: left;
  border: 1px #1e1e1e solid;
}
.tile.image-set  > .tile-content  > img {
  min-width: 100%;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.tile.image-set .tile-content:first-child {
  width: 50% !important;
  float: left;
  height: 100%;
}
.tile.double {
  width: 310px;
}
.tile.triple {
  width: 470px;
}
.tile.quadro {
  width: 630px;
}
.tile.double-vertical {
  height: 310px;
}
.tile.triple-vertical {
  height: 470px;
}
.tile.quadro-vertical {
  height: 630px;
}
.tile .brand,
.tile .tile-status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: transparent;
  *zoom: 1;
}
.tile .brand:before,
.tile .tile-status:before,
.tile .brand:after,
.tile .tile-status:after {
  display: table;
  content: "";
}
.tile .brand:after,
.tile .tile-status:after {
  clear: both;
}
.tile .brand  > .badge,
.tile .tile-status  > .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  right: 5px;
  margin-bottom: 0;
  color: #ffffff;
  width: 34px;
  height: 28px;
  text-align: center;
  /*font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;*/
  font-weight: 600;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 14pt;
  /*font-smooth: always;*/
  padding-top: 3px;
}
.tile .brand  > .name,
.tile .tile-status  > .name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  /*font-smooth: always;*/
  color: #ffffff;
}
.tile .brand  > .name:hover,
.tile .tile-status  > .name:hover {
  color: #ffffff;
}
.tile .brand  > .name  > [class*=icon-],
.tile .tile-status  > .name  > [class*=icon-] {
  font-size: 24px;
}
.tile .brand  > .icon,
.tile .tile-status  > .icon {
  margin: 5px 15px;
  width: 32px;
  height: 32px;
}
.tile .brand  > .icon  > [class*=icon-],
.tile .tile-status  > .icon  > [class*=icon-] {
  font-size: 32px;
}
.tile .brand  > .icon  > img,
.tile .tile-status  > .icon  > img {
  width: 100%;
  height: 100%;
}
.tile .brand  > img ~ .text,
.tile .tile-status  > img ~ .text {
  position: absolute;
  left: 60px;
  width: auto;
}
.tile .brand  > .text,
.tile .tile-status  > .text {
  position: relative;
  left: 8px;
  top: 5px;
  right: 50px;
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  color: #000000;
  color: #ffffff;
  line-height: 14px;
  /*width: 60%;*/
}
.tile .brand  > .text:hover,
.tile .tile-status  > .text:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tile .brand  > .text:active,
.tile .tile-status  > .text:active {
  color: rgba(0, 0, 0, 0.4);
}
.tile .brand  > .text:hover,
.tile .tile-status  > .text:hover {
  color: #ffffff;
}
.tile:hover {
  /*outline: 2px #3a3a3a solid;*/
  box-shadow: 0px 0px 3pt 2pt black;
  -moz-outline-radius: 4px;
  -webkit-border-radius: 4px;
}

/**/
.bg-color-blueLight {
  background-color: #eff4ff !important;
}
.bg-color-blueDark {
  background-color: #2b5797 !important;
}